  .Dashboard {
	text-align: left;
	background-color: var(--antiflash-white);
      }
      
      .dashboard-container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;
      }
      
      .sidebar {
	flex: 0 0 250px;
	background-color: var(--light-gray);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      
      .sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
      }
      
      .sidebar li {
	margin-bottom: 15px;
      }
      
      .sidebar a {
	color: var(--rich-black);
	text-decoration: none;
	transition: color 0.3s ease;
	font-size: 18px;
	font-weight: bold;
      }
      
      .sidebar a:hover,
      .sidebar a.active {
	color: var(--tropical-indigo);
      }
      
      .dashboard-content {
	flex: 1;
	padding-left: 40px;
      }

      /* Responsive layout for screens smaller than 1200px */
@media (max-width: 1200px) {
	.dashboard-container {
	  flex-direction: column; /* Stack sidebar and content vertically on smaller screens */
	}
      
	.sidebar,
	.dashboard-content {
	  flex: none; /* Prevent flexing on smaller screens */
	  width: 100%; /* Full width for smaller screens */
	  max-width: none; /* Override any max-width */
	  padding: 20px; /* Adjust padding for smaller screens */
	}
      }
      